*{
    margin: 0;
    padding: 0;
    overflow: hidden;
   /* background-image: url(https://i.pinimg.com/564x/12/4f/e2/124fe2752b60de810e7640d76ab5c7f2.jpg); */
  /* object-fit: cover; */
    /* background-color: rgb(247, 192, 192); */
    color: rgb(66, 41, 79);
    /* border: 2px solid white; */
    border-radius: 8px;
    box-shadow: 10px solid rgb(255, 255, 255);
}
/* Add your CSS here */

/* Example CSS rules */
.profileImage {
    width: 100%; /* Adjust as needed */
  }
  
  .catDiv a {
    margin-right: 10px; /* Adjust spacing between links */
  }
  
  /* Other styles from the HTML can be included or adjusted as necessary */
  
/* body{ */
    /* background-image: linear-gradient(to right,#6A9113,#141517); */
  /* background-size: contain; */
   /* background-image: url(https://i.pinimg.com/564x/2d/67/f9/2d67f9834649b584682ab58606f5a27e.jpg); */

    /* background-image: url(https://i.pinimg.com/736x/8d/95/fd/8d95fd846ef685ca428744a2c5e14b93.jpg); */
/* } */
.bodyPart{
    position: relative;
}
.profileImage{
height: 15rem;
border-radius: 25%;
opacity: 70%;
width: 15rem;
}
.cat{
    border: 2px solid black;
    margin: 4px;
    color: rgb(108, 69, 127);
    border-bottom: 0.2rem solid plum;

}

a{
    padding:3px ;
    text-decoration: none; 
    
}
/* h2{
    color: rgb(69, 127, 186);
} */
.category>a{
    padding-right: 2rem;
    border-bottom: 0.2rem solid plum;

    
}
.catDiv a {
    margin-right: 10px; /* Adjust spacing between links */
  }
.cat:hover{
    border-bottom: 0.2rem solid plum;
  background-color: rgba(221, 160, 221, 0.495);
  color: rgb(35, 24, 41);
}

.category>a:hover{
  border-bottom: 0.2rem solid plum;
  background-color: rgba(221, 160, 221, 0.495);
}
/* .catDiv{
    position: absolute;
} */
.contact{
    background-color: rgba(240, 248, 255, 0.471);
    margin: 0.8rem;
    padding: 0.2rem;
}
/* video */
video{
    position: absolute;  
    z-index: -1;
}
